@model OnlineShoppingStore.WebUI.Models.ProductsListViewModel
@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model.Products)
{
    <h3>@p.Name</h3>
    <h4>@p.Price.ToString("C")</h4>
    @p.Description
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
